#hero {background-color: #2E2F42;}
#hero h1{color: #FFFFFF;
    text-align: center;
    font-size: 56px;
font-weight: 700;
font-style: bold;
letter-spacing: 0.02em;
line-height: 1.5;}
.hero-btn{
    cursor: pointer;
    font-weight: 500;
    line-height: 1.07;
    letter-spacing: 0.04em;
    font-style: medium;
    background-color: #4D5AE5;
    color: #FFFFFF;

}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
/* id="hero" class="hero-btn" id="features" class="title-block" class="features-h3-txt" class="features-p-txt"/*